<nav>
    <ul class="flex space-x-8">
        <li>
            <NavLink href="about" Match="NavLinkMatch.All">
                About
            </NavLink>
        </li>
        <li>
            <NavLink href="projects">
                Projects
            </NavLink>
        </li>
        <li>
            <NavLink href="Experience">
                Experience
            </NavLink>
        </li>
    </ul>
</nav>