<nav class="hidden md:flex">
    <ul class="flex space-x-8">
        <li class="navmenutext">
            <NavLink href="about" Match="NavLinkMatch.All">
                About
            </NavLink>
        </li>
        <li class="navmenutext">
            <NavLink href="projects">
                Projects
            </NavLink>
        </li>
        <li class="navmenutext">
            <NavLink href="experience">
                Experience
            </NavLink>
        </li>
    </ul>
</nav>