<div class="flex space-x-2 items-center">
    <a href="mailto:mikafaro@pm.me" title="Send Email"
        class="flex items-center justify-center cursor-pointer p-1 rounded-md
                   h-8 w-8 border-2 border-arcticblue-light dark:border-darkarcticblue-light
                   hover:bg-arcticaurora-deep/50 hover:border-arcticaurora-default
                   dark:hover:bg-darkarcticaurora-deep/50 dark:hover:border-darkarcticaurora-deep/50">
        <Icon Name="Mail" CssClass="h-5 w-5 text-arcticblue-deep dark:text-darkarcticblue-light" />
    </a>
    <a href="https://github.com/mikafaro" target="_blank" rel="noopener noreferrer" title="Go to GitHub"
        class="flex items-center justify-center cursor-pointer p-1 rounded-md
               h-8 w-8 border-2 border-arcticblue-light dark:border-darkarcticblue-light
               hover:bg-arcticaurora-deep/50 hover:border-arcticaurora-default
               dark:hover:bg-darkarcticaurora-deep/50 dark:hover:border-darkarcticaurora-deep/50">
        <Icon Name="Github" CssClass="h-5 w-5 text-arcticblue-deep dark:text-darkarcticblue-light" />
    </a>
    <a href="https://www.linkedin.com/in/mikafaro/" target="_blank" rel="noopener noreferrer" title="Go to LinkedIn"
        class="flex items-center justify-center cursor-pointer p-1 rounded-md
               h-8 w-8 border-2 border-arcticblue-light dark:border-darkarcticblue-light
               hover:bg-arcticaurora-deep/50 hover:border-arcticaurora-default
               dark:hover:bg-darkarcticaurora-deep/50 dark:hover:border-darkarcticaurora-deep/50">
        <Icon Name="LinkedIn" CssClass="h-5 w-5 text-arcticblue-deep dark:text-darkarcticblue-light" />
    </a>
</div>

@code
{

}