<div class="h-80 w-full mx-auto max-w-5xl border-2 rounded-xl
            bg-arctic-snow border-arcticaurora-deep
            dark:bg-darkarctic-midnight dark:border-darkarcticaurora-deep
            drop-shadow-2xl drop-shadow-arcticaurora-deep/50 dark:drop-shadow-darkarcticaurora-deep/30">

    <h1 class="text-5xl font-bold text-wrap pt-10 pl-16
                text-arcticblue-deep dark:text-darkarcticblue-deep">
        Mikael Færøvik
    </h1>

</div>