<div class="h-96 mb-16 max-w-5xl w-full rounded-xl overflow-hidden
            grid grid-cols-2 grid-rows-1 items-center justify-start
            drop-shadow-2xl drop-shadow-arcticaurora-deep/50 dark:drop-shadow-darkarcticaurora-deep/30
            bg-gradient-to-tr from-arcticblue-deep to-arcticaurora-light
            dark:from-darkarcticblue-deep dark:to-darkarcticgray-deep">
    
    <div class="flex flex-col justify-center ml-4 md:ml-12 pb-8
                text-arcticgray-light dark:text-darkarcticblue-light">
        <span class="font-extrabold text-5xl text-nowrap">
            Mikael Færøvik
        </span>
        <span class="font-bold text-2xl text-nowrap">
            Software Engineer
        </span>
        <span class="flex flex-nowrap font-bold text-xl mt-12">
            <Icon Name="Location" CssClass="h-6 w-6 mr-1 translate-y-0.5" />
            Bergen, Norway
        </span>
    </div>

    <div class="flex items-end justify-end h-96">
        <img src="images/mika-cutout.png" class="h-64 md:h-full object-contain" />
    </div>
    
</div>