<div class="h-100 mb-16 max-w-5xl w-full border-0 rounded-xl overflow-hidden
            flex flex-row justify-left items-center relative
            drop-shadow-2xl drop-shadow-arcticaurora-deep/50 dark:drop-shadow-darkarcticaurora-deep/30
            bg-gradient-to-tr from-arcticblue-deep to-arcticaurora-light
            dark:from-darkarcticblue-deep dark:to-darkarcticgray-deep">
    
    <div class="flex flex-col ml-4 md:ml-20
                text-arcticgray-light dark:text-darkarcticblue-light">
        <span class="font-extrabold text-5xl">
            Mikael Færøvik
        </span>
        <span class="font-bold text-2xl">
            Software Engineer
        </span>
        <span class="flex flex-nowrap font-bold text-xl mt-12">
            <Icon Name="Location" CssClass="h-6 w-6 mr-1 translate-y-0.5" />
            Bergen, Norway
        </span>
    </div>

    <img src="images/mika-cutout.png" class="absolute bottom-0 right-0 object-cover
                                             h-full" />

</div>