<div class="h-96 mb-16 max-w-5xl w-full rounded-xl overflow-hidden
            grid grid-cols-2 grid-rows-1 items-center justify-start
            drop-shadow-2xl drop-shadow-arcticaurora-deep/50 dark:drop-shadow-darkarcticaurora-deep/30
            bg-gradient-to-tr from-arcticblue-light via-arcticblue-default  to-arcticblue-deep
            dark:from-darkarctic-midnight dark:via-darkarctic-twilight dark:to-darkarcticaurora-deep">
    
    <div class="flex flex-col h-full justify-center ml-4 md:ml-12 pb-20 md:pb-0
                text-arctic-snow dark:text-darkarcticblue-light font-montserrat
                text-shadow-lg/30 text-shadow-arcticgray-dark dark:text-shadow-darkarcticaurora-deep">
        <span class="font-extrabold text-5xl text-nowrap">
            Mikael Færøvik
        </span>
        <span class="font-bold text-2xl text-nowrap">
            Software Engineer
        </span>
        <span class="flex flex-nowrap font-bold text-xl mt-12">
            <Icon Name="Location" CssClass="h-6 w-6 mr-1 translate-y-0.5 mr-2" />
            Bergen, Norway
        </span>
    </div>

    <div class="flex flex-col items-end justify-end h-full">
        <img src="images/mika-cutout.png" class="object-contain md:h-full" />
    </div>
    
</div>