<div class="h-60 w-full mx-auto max-w-5xl border-2 rounded-xl
            bg-arctic-glacier border-arcticblue-deep">

    <h1 class="text-5xl font-bold text-wrap pt-10 pl-16
                text-arcticblue-deep">
        Mikael Færøvik
    </h1>

</div>