<div class="h-80 w-full mx-auto mb-16 max-w-5xl border-0 rounded-xl
            drop-shadow-2xl drop-shadow-arcticaurora-deep/50 dark:drop-shadow-darkarcticaurora-deep/30
            bg-gradient-to-tr from-arcticblue-deep to-arcticaurora-light
            dark:from-darkarcticblue-light dark:to-darkarcticaurora-deep">

</div>