@inherits LayoutComponentBase

<div class="max-w-6xl mx-auto">

    <header class="fixed flex z-50 items-center justify-center
                    max-w-6xl mx-auto h-20 top-0 inset-x-0 px-6
                    bg-blue-100 border-x-2 border-b-2 rounded-b-lg
                    border-blue-100 drop-shadow-xl">

        <NavMenu />
        
    </header>

    <div class="mt-26">
        @Body
    </div>

    <footer class="fixed flex z-50 items-center justify-between
                    bottom-0 inset-x-0 h-12 max-w-6xl mx-auto
                    rounded-t-lg border-x-2 border-t-2 border-blue-100
                    bg-blue-100">
        <ThemeSwitcher />
        <Socials />
    </footer>

</div>