@inherits LayoutComponentBase

<div class="max-w-6xl mx-auto">

    <header class="fixed flex z-50 items-center justify-center
                    max-w-6xl mx-auto h-20 top-0 inset-x-0 px-6
                    drop-shadow-lg  border-x-1 border-b-1 rounded-b-lg
                    bg-arctic-snow/80 border-arctic-snow/80 backdrop-blur-xs
                    dark:bg-darkarctic-midnight/80 dark:border-darkarctic-midnight/80
                    drop-shadow-arcticgray-light/80 dark:drop-shadow-darkarcticgray-deep/50">

        <NavMenu />
        
    </header>

    <div class="mt-32 mb-20">
        @Body
    </div>

    <footer class="fixed flex z-50 items-center justify-between
                    bottom-0 inset-x-0 h-12 max-w-6xl mx-auto px-4
                    rounded-t-lg border-x-2 border-t-2 shadow-lg
                    border-arctic-snow/80 bg-arctic-snow/80 backdrop-blur-xs
                    dark:bg-darkarctic-midnight/80 dark:border-darkarctic-midnight/80
                    shadow-arcticaurora-light/80 dark:shadow-darkarcticgray-deep/50">
        <ThemeToggle />
        <SocialButtons />
    </footer>

</div>