@inherits LayoutComponentBase

<div class="flex-col max-w-6xl mx-auto">

    <header class="fixed flex z-50 content-center items-center justify-between
                    max-w-6xl mx-auto h-16 top-0 inset-x-0 px-6
                    bg-blue-100 border-r-3 border-l-3 border-b-3 rounded-b-lg
                    border-blue-100 drop-shadow-md">
        <div>
            <h1>mikafaro</h1>
        </div>
        <div>
            Navbar
        </div>
        <div>
            Socials
        </div>
    </header>

    <div class="mt-20">
        @Body
    </div>

</div>