@inherits LayoutComponentBase

<div class="font-lora max-w-6xl mx-auto px-2">

    <header class="fixed flex z-50 items-center justify-end md:justify-center
                    max-w-6xl mx-auto h-12 md:h-20 top-0 inset-x-0 px-6
                    drop-shadow-lg  border-x-1 border-b-1 rounded-b-lg
                    bg-arctic-snow/80 border-arctic-snow/80 backdrop-blur-xs
                    dark:bg-darkarctic-midnight/80 dark:border-darkarctic-midnight/80
                    drop-shadow-arcticgray-light/80 dark:drop-shadow-darkarcticgray-deep/50">

        <NavMenu />
        <button @onclick="ToggleMobileMenu" class="flex md:hidden justify-center items-center cursor-pointer
                       h-8 w-8 p-0.5 border-2 rounded-md @mobileMenuButtonBg
                       border-arcticblue-light dark:border-darkarcticblue-light">
            <Icon Name="Burger" CssClass="w-full h-full text-arcticblue-deep dark:text-darkarcticblue-light" />
        </button>
        
    </header>

    <div class="mt-32 mb-20">
        @Body
    </div>

    <footer class="hidden md:flex fixed z-50 items-center justify-between
                    bottom-0 inset-x-0 h-12 max-w-6xl mx-auto px-4
                    rounded-t-lg border-x-2 border-t-2 shadow-lg
                    border-arctic-snow/80 bg-arctic-snow/80 backdrop-blur-xs
                    dark:bg-darkarctic-midnight/80 dark:border-darkarctic-midnight/80
                    shadow-arcticaurora-light/80 dark:shadow-darkarcticgray-deep/50">
        <ThemeToggle />
        <SocialButtons />
    </footer>

    <div class="md:hidden">
        <div class="fixed top-0 bottom-0 h-full w-screen
                    inset-x-0 @backgroundBlur
                    z-30 transition-all duration-500"
             @onclick="ToggleMobileMenu">

        </div>
        <div class="fixed bottom-0 h-40 w-screen
                    inset-x-0 z-50 rounded-t-lg
                    bg-arctic-snow dark:bg-darkarctic-midnight
                    transition-all duration-500 @menuTrans">
            <div class="relative">
                <div class="absolute h-8 w-8 -top-10 right-6 border-2
                            flex justify-center items-center rounded-md
                            border-arcticblue-default dark:border-darkarcticblue-light
                            hover:bg-arcticaurora-deep/50 dark:hover:bg-darkarcticaurora-deep/50
                            transition-all duration-500"
                    @onclick="ToggleMobileMenu">
                    <Icon Name="ListDown" CssClass="h-5 w-5 text-arcticblue-deep dark:text-darkarcticblue-light" />
                </div>
                <div class="flex flex-row justify-between">
                    <div class="flex flex-col justify-between p-4 space-y-16">
                        <ThemeToggle />
                        <SocialButtons />
                    </div>
                    <div class="flex items-center justify-center w-1/3">
                        <CascadingValue Value="this">
                            <MobileNavMenu />
                        </CascadingValue>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>

@code {
    private bool isMobileMenuOpen = false;
    private string mobileMenuButtonBg = "";
    private string backgroundBlur = "invisible";
    private string menuTrans = "invisible translate-y-40";

    public void ToggleMobileMenu()
    {
        isMobileMenuOpen = !isMobileMenuOpen;
        backgroundBlur = getCssClass(backgroundBlur, "invisible", "visible bg-arctic-glacier/70 dark:bg-darkarctic-void/70 backdrop-blur-xs");
        mobileMenuButtonBg = getCssClass(mobileMenuButtonBg, "", "bg-arcticaurora-deep/50 dark:bg-darkarcticaurora-deep/50");
        menuTrans = getCssClass(menuTrans, "invisible translate-y-40", "visible translate-y-0");
        StateHasChanged();
    }

    private string getCssClass(string value, string defaultValue, string otherValue)
    {
        return value == defaultValue ? otherValue : defaultValue;
    }
}