@page "/about"

<div class="flex flex-col justify-center items-center space-y-6">

    <TitleBar />

    <Title>About Me</Title>

    <article class="max-w-4xl mx-6 mt-6 space-y-4 text-arcticgray-dark dark:text-darkarcticgray-light leading-relaxed">
        <p>
            I am Mikael Færøvik. A software engineer from Bergen, Norway.
        </p>

        <p>
            I am eager to learn new skills and create good software that matters to me, perhaps
            a few others, and if it's not too much to ask for &mdash; to the greater humanity in some shape or form.
        </p>

        <p>
            Currently, I am working hard on a master's degree in software engineering, jointly hosted by the University of
            Bergen and Western Norway University of Applied Sciences. As a part of this degree I have found the opportunity
            to work with with the ALICE collaboration at CERN in Geneva, Switzerland to develop and optimize their grid computing
            system, the Java ALICE Environment (JAliEn). I am grateful for this opportunity and motivated to achieve a result I can be
            proud of.
        </p>

        <p>
            While I am continuing down that path, I am concurrently exploring possibilities of where
            I might continue my development and contribute with my skillset to some larger project on the completion of
            my education. With a growing skillset I am also finding a greater desire to complete personal projects such as this
            website, and I am optimistic that I can find the time for more of that in the coming time as well. While my portfolio
            of these hobby projects isn't exactly overflowing yet, I am adamant about improving my skills as a software engineer
            and learning new technologies and concepts as their usefulness becomes apparent.
        </p>

        <p>
            Should you have an inquiry, or would otherwise like to reach out, that is possible through the use of either channel
            in the bottom right corner of this site. Here you can e-mail me, or send me a private message on LinkedIn.
            You may also find my GitHub profile if you want to see what is available there. Not all my projects are publicly available
            due to the privacy and copyrights of my co-collaborators, but at least the code for this website can be viewed in its repository.
        </p>

        <p>
            Thank you for visiting my site, I sincerely appreciate the time spent.
            <br>
            <span class="block h-4"></span>
            &mdash; Mikael Færøvik
        </p>
    </article>

</div>