@page "/about"

<div class="flex flex-col justify-center items-center space-y-6">

    <TitleBar />

    <Title>About Me</Title>

    <article class="max-w-4xl mx-6 space-y-4 text-arcticgray-dark dark:text-darkarcticgray-light leading-relaxed">
        <p>
            I am Mikael Færøvik.
        </p>

        <p>
            At present time, I am working toward a joint master's degree in software engineering between the University of Bergen
            and Western Norway University of Applied Sciences where I am going to develop on the JAliEn grid computing system
            in collaboration with CERN in Geneva, Switzerland. This is a task I am highly motivated to do, and grateful to have
            that opportunity.
        </p>

        <p>
            While continuing on that track, I am also keeping an eye out for interesting paths to continue my learning and
            producing good software in a professional setting. I believe I am a methodical, orderly, and curious person with an eye
            for detail. I enjoy honing in on whatever I find most important at any given time. Anything worth doing deserves to be done with
            a steady focus.
        </p>

        <p>
            While my portfolio of hobby projects is by no means extensive or impressive at current date, I am adamant about improving my skills as a software
            engineer and finding the time in a busy schedule to create interesting software and play with new technologies.
        </p>

        <p>
            If you would like to reach out to me, you may do so by e-mail or through LinkedIn by using the links in the bottom right corner.
            Here you can also find a link to my GitHub page where you can at least find the code for this website, and in time perhaps more
            significant work. Some of my previous collaborative projects in university unfortunately do not have the code publicly available.
            Please feel free to have a look at the projects page for a list of my previous work.
        </p>

        <p>
            Thank you for visiting my site, I sincerely appreciate the time spent.
            <br>
            <span class="block h-4"></span>
            &mdash; Mikael Færøvik
        </p>
    </article>

</div>