@page "/about"

<div class="flex flex-col justify-center items-center space-y-6">

    <TitleBar />

    <Title>About Me</Title>

    <article class="max-w-4xl mx-6 mt-6 space-y-4 text-arcticgray-dark dark:text-darkarcticgray-light leading-relaxed">
        <p>
            I am Mikael Færøvik.
        </p>

        <p>
            My trade is developing software. I want to keep learning new ways of thinking about software, new technologies
            and methodologies, and use my skills to develop applications that many people can benefit from.
        </p>

        <p>
            Currently, I am in the process of earning a master's degree in software engineering, jointly hosted by the University of
            Bergen and Western Norway University of Applied Sciences. As a part of this degree I have found the opportunity
            to work with with the ALICE collaboration at CERN in Geneva, Switzerland to develop and optimize their grid computing
            system, the Java ALICE Environment (JAliEn). I am grateful for this opportunity and motivated to achieve a result I can be
            proud of.
        </p>

        <p>
            While I continue to follow that path, I am concurrently exploring possibilities to
            continue my development and contribute with my skillset to some larger project on the completion of
            my education. With a growing skillset I am also finding a greater desire to complete personal projects such as this
            website, and I am optimistic that I can find the time for more of that in the imminent future. While my portfolio
            of personal projects is modest at this time, I am adamant about improving my skills as a software engineer
            and learning new technologies and concepts as their utility becomes apparent.
        </p>

        <p>
            If you want to reach out to me, you can click the e-mail or LinkedIn buttons below to do so (open the burger menu on mobile).
            There you can also find a link to my GitHub to view my open-source code. Please note that not all my projects are publicly
            available, especially for student collaborations.
        </p>

        <p>
            Thank you for visiting my site, I sincerely appreciate the time spent.
            <br>
            <span class="block h-4"></span>
            &mdash; Mikael Færøvik
        </p>
    </article>

</div>