@page "/about"

<div class="flex flex-col justify-center space-y-6">

    <TitleBar />

    <Title>About Me</Title>

    <div class="flex flex-row-reverse w-full max-w-5xl mx-auto">

        

        <div>
            <Contact />
        </div>
    </div>

</div>