@page "/experience"

@using PersonalWebsiteBlazor.Models

<div class="flex flex-col max-w-5xl mx-auto my-4">

    <Title>Education</Title>

    @foreach (var EducationEntry in Education)
    {
        <ExperienceCard Experience="EducationEntry" />
    }

</div>

<div class="flex flex-col max-w-5xl mx-auto my-8">

    <Title>Software Engineering Experience</Title>

    @foreach (var EmploymentEntry in Employment)
    {
        <ExperienceCard Experience="EmploymentEntry" />
    }

</div>

@code {
    List<Experience> Education = new List<Experience>
    {
        new Experience
        {
            ExperienceTitle = "Bachelor of Science in Computer Technology",
            Type = ExperienceType.Degree,
            Affiliations = ["University of Bergen"],
            FromDate = new DateOnly(2019, 08, 12),
            ToDate = new DateOnly(2024, 06, 01),
            Keywords = ["Programming Fundamentals", "Software Development",
                         "Software Security", "Computer Networks", "Mathematics"],
            Highlights = [@"The degree taught me the fundamentals of software development
                            with concepts like OOP, Databases, Security and System Design.",
                          @"As elective courses I explored different topics like Computer Security,
                            Data Analysis, Category Theory and Computer Networks."],
            Image = "",
            LinkURL = "https://www4.uib.no/studier/program/informatikk-datateknologi-bachelor"
        },
        new Experience
        {
            ExperienceTitle = "Master of Science in Software Engineering",
            Type = ExperienceType.Degree,
            Affiliations = ["University of Bergen", "Western Norway University of Applied Sciences", "CERN"],
            FromDate = new DateOnly(2024,08,18),
            Keywords = ["Advanced Software Technologies", "Modern Software Development Methods", "Grid and Cloud Computing"],
            Highlights = [@"Learned a great deal about grid and cloud computing and took an interest in
                           the grid computing systems at CERN, whom I will be collaborating with for my master project.",
                          @"Learned about integrating different parts of a full-stack application into a functional app,
                            including front-end frameworks, API design, containerization, messaging systems and databases.",
                          @"I will be working with CERN's ALICE collaboration to optimize their JAliEn (Java ALICE Environment)
                            grid computing system for my master project and thesis."],
            Image = "",
            LinkURL = "https://www4.uib.no/en/studies/programmes/joint-masters-in-software-engineering-masters"
        }
    };

    List<Experience> Employment = new List<Experience>
    {
        new Experience
        {
            ExperienceTitle = "Teaching Assistant in Functional Programming",
            Type = ExperienceType.PartTimeEmployment,
            Affiliations = ["University of Bergen"],
            FromDate = new DateOnly(2023,08,01),
            ToDate = new DateOnly(2023,12,01),
            Keywords = ["Functional Programming", "Haskell", "Mentoring"],
            Highlights = [@"A semesterlong position in which I assisted a group of students with
                            their weekly assignments and provided feedback on mandatory work.",
                          @"The course taught fundamental functional programming concepts
                            using Haskell as the programming language.",
                          @"Fundamental concepts up to and including Monads were covered."],
            Image = "",
        }
    };

    protected override void OnInitialized()
    {
        Education = Education.OrderByDescending(E => E.FromDate).ToList();
        Employment = Employment.OrderByDescending(E => E.FromDate).ToList();
    }
}