@page "/experience"

@using PersonalWebsiteBlazor.Models

<div class="flex flex-col max-w-5xl mx-auto my-4">

    <Title>Education</Title>

    @foreach (var EducationEntry in Education)
    {
        <ExperienceCard Experience="EducationEntry" />
    }

</div>

<div class="flex flex-col max-w-5xl mx-auto my-8">

    <Title>Software Engineering Experience</Title>

    @foreach (var EmploymentEntry in Employment)
    {
        <ExperienceCard Experience="EmploymentEntry" />
    }

</div>

@code {
    List<Experience> Education = new List<Experience>
    {
        new Experience
        {
            ExperienceTitle = "Bachelor of Science in Computer Technology",
            Type = ExperienceType.Degree,
            Affiliations = ["University of Bergen"],
            FromDate = new DateOnly(2019, 08, 12),
            ToDate = new DateOnly(2024, 06, 01),
            Keywords = ["Programming Fundamentals", "Data Structures & Algorithms", "OOP", "Functional Programming", "Mathematics"],
            Description = @"My bachelor provided a thorough understanding of the fundamental concepts
                            in software engineering. I additionally explored subjects in computer networks, security,
                            and data analysis.",
            Image = "images/uib-logo.webp",
            LinkURL = "https://www4.uib.no/studier/program/informatikk-datateknologi-bachelor"
        },
        new Experience
        {
            ExperienceTitle = "Master of Science in Software Engineering",
            Type = ExperienceType.Degree,
            Affiliations = ["University of Bergen", "Western Norway University of Applied Sciences", "CERN"],
            FromDate = new DateOnly(2024,08,18),
            Keywords = ["Software Technologies", "Grid & Cloud Computing", "Optimization"],
            Description = @"This joint master has so far given me insights into the technology stack, grid & cloud computing,
                            as well as optimization. My master thesis will be in the field of grid computing 
                            for the ALICE collaboration at CERN.",
            Image = "images/hvl-logo.webp",
            LinkURL = "https://www4.uib.no/en/studies/programmes/joint-masters-in-software-engineering-masters"
        }
    };

    List<Experience> Employment = new List<Experience>
    {
        new Experience
        {
            ExperienceTitle = "Teaching Assistant in Functional Programming",
            Type = ExperienceType.PartTimeEmployment,
            Affiliations = ["University of Bergen"],
            FromDate = new DateOnly(2023,08,01),
            ToDate = new DateOnly(2023,12,01),
            Keywords = ["Functional Programming", "Haskell", "Teaching"],
            Description = "I provided assistance and feedback to new students in functional programming using Haskell.",
            Image = "images/uib-logo.webp",
        }
    };

    protected override void OnInitialized()
    {
        Education = Education.OrderByDescending(E => E.FromDate).ToList();
        Employment = Employment.OrderByDescending(E => E.FromDate).ToList();
    }
}