@page "/projects"

@using PersonalWebsiteBlazor.Models

<div class="flex flex-col max-w-5xl mx-auto">

    <Title>Projects</Title>

    @foreach (var project in projects)
    {
        <ProjectCard Project="project" />
    }

</div>

@code {
    List<Project> projects = new List<Project>
    {
        new Project {
            ProjectTitle = "The Pursuit of Koala Tea",
            Date = new DateOnly(2023, 05, 01),
            ProjectEffortType = "Team",
            Technologies = ["Game Design", "Java", "LibGDX", "MVC"],
            Description = @"A term project developed in collaboration with 3 other students.
                            We used Java and the LibGDX framework to create a rogue-like game
                            about a Koala moving through the Australian wilderness in search of
                            Koala Tea. Introduced me to system design, and taught me to use version
                            control effectively in a collaborative setting.",
            CodeURL = null,
            Image = "images/project-koala-square.jpg"
        },
        new Project {
            ProjectTitle = "FeedApp",
            Date = new DateOnly(2024, 12, 01),
            ProjectEffortType = "Team",
            Technologies = ["Python", "JavaScript", "Django", "React", "RabbitMQ", "PostgreSQL", "Docker"],
            Description = @"A full-stack polling application developed with 2 other students.
                            It provided my first experience integrating different parts of
                            a fullstack application, with front-end, back-end, database,
                            messaging, and containerization.",
            CodeURL = null,
            Image = null
        },
        new Project {
            ProjectTitle = "Personal Website",
            Date = new DateOnly (2025, 07, 01),
            ProjectEffortType = "Solo",
            Technologies = ["Blazor", "C#", "TailwindCSS", "GitHub Actions", "Azure Static Web Apps"],
            Description = @"The website you are currently viewing.
                            It was developed using Blazor WebAssembly in combination with Tailwind CSS,
                            and is continually deployed to Azure Static Web Apps through GitHub Actions.",
            CodeURL = "https://github.com/mikafaro/personal-website",
            Image = ""
        }
    };

    protected override void OnInitialized()
    {
        projects = projects.OrderByDescending(p => p.Date).ToList();
    }
}